RewriteEngine On
RewriteBase /DebatArena/src/web/

# Route pour la page des débats avec pagination
RewriteRule ^debats/([0-9]+)$ index.php [L]

# Route pour la page spécifique d'un débat
RewriteRule ^debat/([0-9]+)$ index.php [L]

# Règle de base pour l'index
RewriteRule ^$ index.php [L]
